/*******************************************************************************
 * pouhiou.css
 *
 * Règles de style particulières pour les romans de Pouhiou.
 * Ne pas inclure dans un autre framabook (modification de styles par défaut)
 */
body {
  font-family: DejaVu serif;
}
.titre-souschapitre {
  padding: 1em 0;
  text-align: center;
  display:block;
}

h3 {
  text-align: left;
}

i[lang="he"] {
  font-family: DejaVu serif;
}

pre, i[lang="he"] {
  font-family: DejaVu Sans Mono, monospace;
}

.hashtag {
  font-family: sans-serif;
}

.musique .gras {
  font-style: normal;
  font-weight: bold;
}

.analepse {
  font-weight: bold;
  margin-left: -2em ;
}

.voix {
  font-style: normal;
  font-weight: bold;
}

.addenda {
  font-style: italic;
}

.addenda .droit {
  font-style: italic;
}

div.addenda i {
  font-style: normal;
}

div.addenda cite {
  font-style: normal;
}

dt {
  font-weight: bold;
}
dd>ul>li {
  font-style: normal;
}
dt {
  margin-top: 2em;
}
q {
  quotes: none;
}
